html {
  height: 100%;
  width: 100%;
}

img {
  max-width: 80%;
  max-height: 80%;
  /* margin-left: 5%; */
  display: inline-block;
  margin-left: 10%;
}
/* grad{
background-image: linear-gradient(to right, rgb(84, 70, 70), transparent);
} */
li {
  display: inline-block;
  padding: 5px;
  margin: 2px;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ceab8f;
  font-weight: 800;
}

body {
  background-color: #eae7dc;
}

h1 {
  color: #483528;
  font-size: 100px;
  /* padding: ; */
  /* margin: auto;
  padding-top: auto; */
  text-align: right;
}

#title {
  /* background: url("yellow circles.png") no-repeat center;
  background-size: cover; */
display: flex;

}
#title img{
  transform: scale(0.5);
}
.img-gradient {
  
  /* background:
    linear-gradient(to right, transparent, #fff5ea), url("./ocean.jpg"); */
/* background-image: url("ocean.jpg");
background-size: 100% 200%;
background-position: 50% 25%; */


}

h2 {
  color: #ebe9e1;
  margin: 2vh;
  font-size: 4vw;
}

h3 {
  color: #e43d12;
}

p {
  color: #d6536d;
}
section {
  margin-bottom: 3vh;
}

.Project {
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
  border: 7px double #ffa2b6;
  margin: 20px;
  height: 60vh;
  margin-top: 0;
  position: relative;
  top: 0;
  padding: 10px;
  vertical-align: top;
}
.AboutMe {
  background-color: #e43d12;
  font-weight: 10px;
  text-align: center;
  color: #ebe9e1;
  padding-bottom: 1%;
}

@media screen and (max-width: 900px) {
  .Project {
    box-sizing: border-box;
    width: 85vw;
    display: inline-block;
    border: 7px double #ffa2b6;
    /* margin: 20px; */
    height: 60vh;
    /* margin-top: 0; */
    position: relative;
    top: 0;
    padding: 10px;
    vertical-align: top;
  }
  img {
    max-width: 80%;
    max-height: 80%;
    /* margin-left: 5%; */
    display: inline-block;
    /* margin-left: 10%; */
  }
  h1 {
    font-size: 100px;
  }
  #title {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  #title {
    height: 300px;
  }
}
