
li {
  display: inline-block;
  padding: 5px;
  margin: 2px;
}

ul {
  margin: 0;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title img {
  transform: scale(0.5);
}
.img-container {
  height: 700px;
}
.img-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

h2 {
  color: #ebe9e1;
  margin: 2vh;
  font-size: 4vw;
}

h3 {
  color: #493220;
}

p {
  color: #9a7f69;
}
section {
  margin-bottom: 3vh;
}

.Project {
  box-sizing: border-box;
  width: auto;
  display: flex;
  border: 3px solid #ceab8f;
  border-radius: 10px;
  margin: 20px;
  height: auto;
  margin-top: 0;
  position: relative;
  top: 0;
  padding: 10px;
  vertical-align: top;
  flex-direction: column;
  align-items: center;
}
.Project img {
  display: inline-block;

  max-width: 300px;
  max-height: 300px;
}
.Projects {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
@media screen and (width >= 80rem) {
  .Projects {
    flex-direction: row;
  }
}
.AboutMe {
  margin-top: 100px;
  /* background-color: #d9d8d1; */
  font-weight: 7px;
  text-align: center;
  color: #9a7f69;
  padding-bottom: 20px;
  padding-top: 2px;
  border: 3px solid #ceab8f;
  border-radius: 10px;
  box-sizing: border-box;
  width:100%;
}
.AboutMe h2 {
  color: #483528;
  font-size: 50px;
}
#title {
  height: 200px;
  background-image: url("assets/ocean.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 30px;
}
.clickable-image img {
  display: block;
  transition:
    transform 150ms ease,
    filter 150ms ease;
}
.clickable-image:hover img {
  transform: scale(1.02);
  filter: brightness(0.9);
}

.Homepage {
  flex: 1;
}
@media screen and (width >= 80rem) {
  .Homepage {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.pagetitle {
  font-size: 50px;
}
@media screen and (width >= 80rem) {
  .pagetitle {
    color: #ebe9e1;
    font-size: 90px;
    text-align: right;
  }
}
