html {
  height: 100%;
  width: 100%;
}

img {
  max-width: 80%;
 max-height: 80%;
  /* margin-left: 5%; */
  display: inline-block;
  margin-left: 10%;
}
/* grad{
background-image: linear-gradient(to right, rgb(84, 70, 70), transparent);
} */
li {
  display: inline-block;
  padding: 5px;
  margin: 2px;

}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #CEAB8F;
  font-weight: 800;
  
}

body {
  background-color: #eae7dc;
}

h1 {

  color: #483528;
  font-size: 100px;
  /* padding: ; */
  /* margin: auto;
  padding-top: auto; */
  text-align: right;

}

#title {

  /* background: url("yellow circles.png") no-repeat center;
  background-size: cover; */
  height: 300px;

}
img-gradient{
  mask-image: linear-gradient(to right,#fff5ea, transparent );
}

h2 {
  color: #EBE9E1;
  margin: 2vh;
  font-size: 4vw;
}

h3 {
  color: #E43D12;
}

p {
  color: #D6536D;
}
section {
  margin-bottom: 3vh;
}

.Project {
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
  border: 7px double #FFA2B6;
  margin: 20px;
  height: 60vh;
  margin-top: 0;
  position: relative;
  top: 0;
  padding: 10px;
  vertical-align: top;

}
.AboutMe {
  background-color: #E43D12;
  font-weight: 10px;
 text-align: center;
  color: #EBE9E1;
  padding-bottom: 1%;
  
}


@media screen and (max-width: 900px) {
   .Project {
     box-sizing: border-box;
     width: 85vw;
     display: inline-block;
     border: 7px double #FFA2B6;
     /* margin: 20px; */
     height: 60vh;
     /* margin-top: 0; */
     position: relative;
     top: 0;
     padding: 10px;
     vertical-align: top;

   }
  img {
    max-width: 80%;
   max-height: 80%;
    /* margin-left: 5%; */
    display: inline-block;
    /* margin-left: 10%; */

  }
  h1{
    font-size: 100px;
  }
  #title {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  #title{
    height: 300px;
  }
}